node_modules
bower_components
dist
*.swa
*.swp
*.swo

coverage/

.idea/
.DS_Store

spec/end_to_end_tests/reports/
src/stylesheets/_featuretoggles.scss
cypress/

instea-dev-b79e01fcea4d.json

.nyc_output

.private.notes

.talismanrc

.vscode/

/instea-dev*